@layout('layouts/app')

@section('content')

  @if(auth.isAuthenticated)
    <h1>{{auth.user.email}}</h1>
    <form action="/logout" method="post">
      {{ csrfField() }}
      <button type="submit">Logout</button>
    </form>
  @else
    <a href="/login">Login</a>
  @endif
@endsection